Django==1.10
gunicorn==19.6.0  #wsgi server
Pillow==8.2.0
whitenoise==3.2.1 #allows your web app to serve its own static files
dj-database-url==0.4.1
psycopg2==2.8.3 #PostgreSQL database adapter for the Python programming language.
django-rest-framework-social-oauth2==1.0.4 #for facebook
django-bootstrap3==7.0.1